<launch>
    <arg name="robot_ip" doc="IP address by which the robot can be reached." default="169.254.177.232"/>

    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch" pass_all_args="true"/>
    <include file="$(find applevision_moveit_config)/launch/ur5e_moveit_planning_execution.launch" pass_all_args="true"/>
    <include file="$(find applevision_moveit_config)/launch/moveit_rviz.launch" pass_all_args="true"/>
    <include file="$(find applevision_rospkg)/launch/config.launch" />
</launch>